@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Pacifico&family=Roboto:wght@300&display=swap');

$background_color : #F0F2F5;

body {
  background-color: $background_color;
  margin: 0;
}

#loginPageContainer {
  padding: 1em;
}

#loginButton {
  width: 30%;
}

#watchDiaryIntro {
  width: 70%;
}

h1 {
  font-family: 'Pacifico', cursive;
}

.WatchDiaryTitle {
  font-size: 5em;
}

h3 {
  font-family: 'Nerko One', cursive;
}

.WatchDiarySubTitle {
  font-size: 3em;
}

.WatchDiarySubTitleWrapper {
  padding-left: 1em;
  padding-right: 1em;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}
