@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Pacifico&family=Roboto:wght@300&display=swap');

$background_color : #F0F2F5;

body {
  background-color: $background_color;
  margin: 0;
}

#loginPageContainer {
  padding: 1em;
}

#loginButton {
  width: 30%;
}

#watchDiaryIntro {
  width: 70%;
}

h1 {
  font-family: 'Pacifico', cursive;
}

.WatchDiaryTitle {
  font-size: 5em;
}

h3 {
  font-family: 'Nerko One', cursive;
}

.WatchDiarySubTitle {
  font-size: 3em;
}

.WatchDiarySubTitleWrapper {
  padding-left: 1em;
  padding-right: 1em;
}

#outlined-basic {
  cursor: pointer;
}

.avatar-wrapper {
    position: relative;
}

.avatar {
    display: block;
    border-radius: 50%;
}

.avatar-outline {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}
