@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Pacifico&family=Roboto:wght@300&display=swap');

$background_color : #F0F2F5;

body {
  background-color: $background_color;
  margin: 0;
}

#loginPageContainer {
  padding: 1em;
}

#loginButton {
  width: 30%;
}

#watchDiaryIntro {
  width: 70%;
}

h1 {
  font-family: 'Pacifico', cursive;
}

.WatchDiaryTitle {
  font-size: 5em;
}

h3 {
  font-family: 'Nerko One', cursive;
}

.WatchDiarySubTitle {
  font-size: 3em;
}

.WatchDiarySubTitleWrapper {
  padding-left: 1em;
  padding-right: 1em;
}

#outlined-basic {
  cursor: pointer;
}

.avatar-wrapper {
    position: relative;
}

.avatar {
    display: block;
    border-radius: 50%;
}

.avatar-outline {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.createContainer {
  width: 500px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  box-shadow: 0 0 20px #999;
  z-index: 100;
  position: absolute;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 3px;
  overflow: auto;
}

.backFromSearchingMovie {
  background-color: black;
  color: white;
  position: absolute;
  top: 30px;
  left: 30px;
}

.imageGalleryHeight {
  height: "6em";
}
